.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
  /* Allow wrapping on smaller screens */
}

.login-card,
.promo-card {
  flex: 1;
  min-width: 320px;
  max-width: 450px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  color: #333;
}

.login-input {
  height: 50px;
  font-size: 16px;
  border-radius: 8px;
}

.login-button {
  width: 100%;
  height: 50px;
  background-color: darkgreen;
  color: white;
  font-weight: 500 !important;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.login-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-content h2 {
  color: #222;
  margin-bottom: 20px;
}

.promo-content p {
  color: #555;
  margin-bottom: 20px;
  font-size: 15px;
}

.features-list {
  list-style: none;
  padding: 0;
}

.features-list li {
  margin-bottom: 12px;
  font-size: 15px;
  color: #333;
}

.login-redirect{
  padding-top: 5.2em;
}

.register-redirect{
  margin-bottom: 0;
}

.ant-card-body{
  padding-bottom: 0em !important;
}

.features-list li{
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-color: darkgreen;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .login-card,
  .promo-card {
    width: 100%;
    max-width: 90%;
  }

  .login-button {
    font-size: 14px;
    height: 45px;
  }

  .login-input {
    height: 45px;
    font-size: 14px;
  }

  .features-list li {
    font-size: 14px;
  }
}